
.syntax--comment {
  color: @syntax-comment-color;
  font-style: italic;

  .syntax--markup.syntax--link {
    color: @syntax-comment-color;
  }
}

.syntax--string {
  color: @cyan;
}

.syntax--constant {
  color: @violet;
  
  &.syntax--character {
    color: @magenta;
  }
  
  &.syntax--other {
    color: @syntax-text-color;
    
    &.syntax--placeholder {
      color: @violet;
    }
  }
}

.syntax--variable {

}

.syntax--keyword {
  &.syntax--operator {
    color: @magenta;
  }
}

.syntax--storage {
  &.syntax--modifier {
    color: @magenta;
  }
}

.syntax--entity {
  &.syntax--name {
    color: @blue;
  }
  &.syntax--other {
    &.syntax--inherited-class {
      color: @blue;
    }
    &.syntax--attribute-name {
      color: @yellow;
    }
  }
}

.syntax--support {
  color: @orange;
}

.syntax--tag {
  &.syntax--entity.syntax--name {
    color: @blue;
  }
  &.syntax--punctuation.syntax--definition {
    &.syntax--html,
    &.syntax--begin,
    &.syntax--end {
      color: @base1;
    }
  }
}

.syntax--invalid {
  &.syntax--deprecated {
    background-color: @yellow;
    color: @base3;
  }
  &.syntax--illegal {
    background-color: @red;
    color: @base3;
  }
}
